
.pokemon-list-item{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    padding: 25px;
}

.divider-line{
    width: 100px;
    height: 2px;
    background-color: var(--black);
    border-radius: 4px;
    margin: 12px;
}