<div class="pokemon-list-item" *ngIf="pokemon">
    <img [src]="pokemon.img" [alt]="pokemon.name" class=" w-32" />
    <span > {{pokemon.name}}</span>
    <div class="divider-line"></div>
    <app-catch-button [pokemonId]="pokemon.id"></app-catch-button>
</div>

