/* CLASSES */
.nav-list-item{
    list-style: none;
}

.nav-list-item:hover{
    cursor: pointer;
}

/* IDs */
#nav-title{
    margin: 24px;
    width: 280px;
}

#navbar{
    position: fixed;
    top: 0;
    color: var(--yellow);
    display: inline-flex;
    align-items: center;
    width: 100vw;
    background-color: var(--blue-2);
    z-index: 1;
}

#nav-divider{
    height: 50px;
    width: 2px;
    background-color: var(--yellow);

}

#nav-list{
    display: flex;
    align-items: center;
    width: 100%;
}

#nav-profile{
    display: flex;
    align-items: center;
    margin-right: 24px;
    margin-left: auto;
}

#nav-username{
    margin-right: 16px;
}


