<nav id="navbar">
    <h1 id="nav-title">Pokemon Trainer</h1>
    <div id="nav-divider"></div>
    <ng-container *ngIf="user !== undefined">
        <ul id="nav-list">
            <li routerLink="/pokedex" class="nav-list-item">
                <p>Pokedex</p>
            </li>
            <li routerLink="/trainer" class="nav-list-item" id="nav-profile">
                <p id="nav-username">
                    {{user.username}}
                </p>
                <svg width="71" height="71" viewBox="0 0 71 71" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="35.5" cy="35.5" r="35.5" fill="#FAFCFF"/>
                    <path d="M0 35.5C0 15.8939 15.8939 0 35.5 0V0C55.1061 0 71 15.8939 71 35.5V36H0V35.5Z" fill="#E64556"/>
                    <rect y="33" width="71" height="5" fill="#4C4C4C"/>
                    <circle cx="35.5" cy="35.5" r="10" fill="#FAFCFF" stroke="#4C4C4C"/>
                    <circle cx="35.5" cy="35.5" r="6" fill="#FAFCFF" stroke="#4C4C4C"/>
                </svg>
            </li>
        </ul>
    </ng-container>
</nav>

