#trainer-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#trainer-page-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}