
<div class="page-container">
    
    <div class="content-window" id="trainer-page">
        <header>
            <h1>Welcome {{user?.username}}</h1>
        </header>
        <app-logout-button></app-logout-button>
        <main>
            <h4>Caught</h4>
                <app-pokemon-list id="trainer-page-list" [pokemon]="pokemon"></app-pokemon-list>
        </main>
    </div>
</div>

