<div class="page-container">
    <div class="content-window" id="login-page">
        <form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm)">
            <fieldset id="input-field">
                <input 
                ngModel
                #username="ngModel"
                placeholder="username" 
                type="text" 
                name="username" 
                id="username"/>
                <button type="submit" id="login-btn">Login</button>
            </fieldset>
        </form>
    </div>
</div>

