#login-page{
    background-image: url("/assets/images/loginWindow.png");
    background-size: cover;
    background-position: center;
    height: 560px;
    width: 560px; 
    border-radius: 100%;
    align-items: flex-end;
    justify-content: center;
}

#input-field{
    padding: 12px;
    margin-bottom: 100px;
    border: none;
    border-radius: 10px;
    background-color: var(--grey);
}

#input-field, input{
    box-sizing: border-box;
    border: none;
    background-color: var(--grey) !important;
}

#input-field, input:focus{
    outline: none;
}

#input-field, input:-internal-autofill-selected{
    background-color: var(--grey) !important;
}

#login-btn{
    border: none;
    padding: 8px;
    width: 100px;
    border-radius: 10px;
    background-color: var(--blue-1);
    color: var(--white);
}

#login-btn:hover{
    background-color: var(--blue-2);
    cursor: pointer;
}

#login-btn:active{
    transform: translateY(3px);
}