
<div
(click)="onCatchClick()" 
>
    <div *ngIf="!_loading; else spinner">
        <ng-container *ngIf="isCaught; then caught else notCaught"></ng-container>
        <ng-template #caught>
            <img id="pokeball" [src]="pokeball" alt="pokeball">
            <div class="disabled-btn">
                <b>Release</b>
            </div>
        </ng-template>
        <ng-template #notCaught>
            <div class="catch-btn">
                <b>catch</b>
            </div>
        </ng-template>
    </div>
<ng-template #spinner><b>loading...</b></ng-template>
</div>


