.disabled-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    max-width: 150px;
    height: 30px;
    background-color: #9c8803;
    border-radius: 10px;
    box-shadow: 0px 6px 15px 1px rgba(102,102,102,0.66);
    -webkit-box-shadow: 0px 6px 15px 1px rgba(102,102,102,0.66);
    -moz-box-shadow: 0px 6px 15px 1px rgba(102,102,102,0.66);
}

.disabled-btn:hover{
    cursor: pointer;
}

.disabled-btn:active{
    transform: translateY(3px);
}

.catch-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    max-width: 150px;
    height: 30px;
    background-color: var(--yellow);
    border-radius: 10px;
    box-shadow: 0px 6px 15px 1px rgba(102,102,102,0.66);
    -webkit-box-shadow: 0px 6px 15px 1px rgba(102,102,102,0.66);
    -moz-box-shadow: 0px 6px 15px 1px rgba(102,102,102,0.66);
}

.catch-btn:hover{
    cursor: pointer;
    color: var(--white);
    background-color: #9c8803;
}

.catch-btn:active{
    transform: translateY(3px);
}


#pokeball{
    position: absolute;
    top: 0;
    right: 0;
}