@import url('https://fonts.googleapis.com/css2?family=Sarpanch:wght@400;700&family=Work+Sans:wght@400;600&display=swap');

:root {
    --black: #4D4D4D;
    --grey: #C2D5E4;
    --white: #FAFCFF;
    --yellow: #FFDE00;
    --red: #E64556;
    --blue-0: #60B4E5;
    --blue-1: #0077BC;
    --blue-2: #065A9C;
}

body{
    font-family: 'Work Sans', 'Gill Sans', 'Gill Sans MT';
    margin:0px;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Sarpanch';
}

/* classes */
.page-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-window{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 30vw;
    max-width: 60vw;
    padding: 24px;
    background-color: var(--white);
    margin-top: 100px;
    border-radius: 10px;
    box-shadow: 0px 6px 16px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 6px 16px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 16px -1px rgba(0,0,0,0.75);
}
  
